.breadcrumbs {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    /* transition: color 0.2s; */
}

.breadcrumbs__item {
    color: black;
    transition: color 0.2s;
}

.breadcrumbs__item:hover {
    color: #65A943;
}

.breadcrumbs__item:not(:last-child)::after {
    content: ' / ';
}

